@font-face {
    font-family: "Inter";
    src: url("./assets/Inter_1.ttf");
}

@font-face {
    font-family: "Dm Sance";
    src: url("./assets/DMSans_opsz_wght__1.ttf");
}

* {
    font-family: Inter;
    font-size: 18px;
    letter-spacing: -2%;
    padding: 0;
    margin: 0;
}

.title {
    font-size: 64px;
    font-weight: bold;
}

ul {
    list-style-type:  none;
    padding: 0;
}

.header {
    background-color: #043873;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    width: fit-content;
    color: white;
}

.logo-img {
    width: 37px;
    height: 29px;
    margin-right: 10px;
}

.logo-text {
    font-weight: bold;
    font-size: 28px;
}

.actions-bar {
    display: flex;
}

.navbar {
    margin-right: 60px;
    display: flex;
    align-items: center;
}

.navbar-items {
    display: flex;
    justify-content: space-between;

}

.navbar-items li {
    display: flex;
    align-items: center;
    font-family: Dm Sance;
    margin: 0 16px;
    transition: all ease .2s;
}

.navbar-items li:hover {
    cursor: pointer;
    color: rgb(221, 236, 248);
}

.navbar-items li img {
    margin-left: 10px;
}

.header-btn {
    border: none;
    padding: 16px 40px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s all ease;
}

.try-free-btn:hover {
    background-color: #3083ea;
}

.login-btn {
    background-color: #FFE492;
    color: #043873;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #fdd869;
}

.try-free-btn {
    margin-left: 24px;
    background-color: #4F9CF9;
    color: white;
}

.try-free-btn img {
    margin-left: 10px;
}

.waves {
    position: absolute;
    top: 80px;
    left: 0;
    color: #FFE492;
    opacity: 0.8;
    width: 100vw;
    z-index: 2;
}

.section {
    position: relative;  
    max-width: 100%;
    padding: 140px 220px;
    color: #212529;
}

.hero-section {
    position: relative;
    background-color: #043873;
    color: white;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.hero-heading-text-block, .wm-heading-text-block, .wm-content-text-block {
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
}

.hero-heading-text-block{
    padding-right: 30px;
}

.hero-heading-text-block-title {
    margin-bottom: 24px;
}

.hero-section-content {
    width: 45%;
    z-index: 3;
}

.main-btn {
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #4F9CF9;
    color: white;
    letter-spacing: -2%;
    cursor: pointer;
    transition: .2s all ease;
}

.main-btn img {
    margin-left: 10px;
}

.main-btn:hover {
    background-color: #3083ea;
}

.img-container {
    aspect-ratio: 1.5 / 1;
    width: 55%;
    background-color: #C4DEFD;
    z-index: 3;
}

.wm-section-heading {
    display: flex;
    gap: 60px;
    margin-bottom: 100px;
    justify-content: center;
}

.wm-section-block {
    width: 50%;
}

.wm-section-waves {
    position: absolute;
    top: 185px;
    left: -12px;
    color: #CCCCCC;
    opacity: 0.8;
    z-index: -1;
}

.main-title img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.main-title {
    position: relative;
    margin-bottom: 24px;
    color: #212529;   
}

.wm-heading-text-block-text, .wm-content-text-block-text, .pricing-text {
    letter-spacing: -2%;
}

.wm-img-container {
    width: 50%;
    aspect-ratio: 1.5 / 1;
    background-color: #C4DEFD;
}

.wm-section-content {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.wm-work-together-img {
    height: fit-content;
}

.wm-content-text-block-title {
    min-width: fit-content
}

.wm-content-text-block-title img {
    right: 0;
}

.pricing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pricing-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-title {
    position: relative;
}

.pricing-title img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.plans {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    align-items: center;
}

.plan {
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
    height: min-content;
}

.main-plan {
    background-color: #043873;
    color: white;
    margin: 0 36px;
    border: none;
    padding: 80px 44px;
}

.plan-name {
    font-weight: 600;
    font-size: 24px;
}

.plan-price {
    font-weight: bold;
    font-size: 36px;
    margin: 25px 0;
}

.plan-descr {
    margin-bottom: 25px;
}

.plan-bullet {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.plan-bullet img {
    margin-right: 19px;
}

.plan-btn {
    border: 1px solid #FFE492;
    border-radius: 8px;
    padding: 16px 40px;
    font-size: 16px;
    margin-top: 25px;
    background-color: white;
    color: #212529;
    letter-spacing: -2%;
    cursor: pointer;
    transition: all ease .2s;
}

.plan-btn:hover {
    background-color: #FFE492;
}

.main-plan-btn {
 background-color: #4F9CF9;
 border: none;
 color: white;
}

.main-plan-btn:hover {
    background-color: #3083ea;
}

.testimonial-section {
    background-color: #043873;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-title {
    color: white;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}

.testimonial-title span {
    text-align: center;
}

.testimonial-text-block {
    margin-bottom: 40px;
}

.testimonial-btn {
    margin: 40px 0;
}

.big-teams-section {
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.big-teams-section img:hover {
    scale: 0.95;
    cursor: pointer;
}

.footer {
    padding: 140px 220px 32px 220px;
    background-color: #043873;
    color: white;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 68px;
}

.footer-column {
    width: 15%;
}

.try-it-column {
    width: 18%;
}

.footer-main-text {
    margin-top: 30px;
}

.footer-main-text span {
    line-height: 30px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    column-gap: 16px;
}

.footer-group li {
    margin-bottom: 16px;
    font-size: 16px;
}

.footer-group-title {
    font-weight: bold;
}

.try-it-title-block {
    margin-bottom: 23px;
}

.try-it-title {
    font-size: 28px;
    font-weight: bold;
}

.try-it-text {
    line-height: 20px;
}

.footer button {
    margin-top: 23px;
}

.btm {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(158, 158, 158, 0.34);
    padding-top: 32px;
}

.tems {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.tem-english {
    display: flex;
    align-items: center;
}

.tem-english span{
    margin: 0 6px;
}

.tems div:hover {
    cursor: pointer;
    color: rgb(221, 236, 248);
}

.social-icons {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons img:hover {
    cursor: pointer;
    scale: 0.95;
}

@media (max-width: 1900px) {
    .tems {
        width: 60%;
    }
}

@media (max-width: 1600px) {
    * {
        font-size: 16px;
    }

    .title {
        font-size: 45px;
    }

    .tems {
        width: 70%;
    }
}

@media (max-width: 1440px) {
    .section {
        padding: 100px 32px;
    }

    .footer {
        padding: 32px 140px 32px 32px;
    }
}